:root {
    --dark-bg-primary: #141414;
    --light-bg-primary: #fcfcfc;
}

body {
    overflow: hidden;
}

.dragOn {-webkit-app-region: drag;}
.dragOff {-webkit-app-region: none;}

.navbar {
    background-color: var(--dark-bg-primary);
    border-radius: 10px;
}

.navbar img {
    width: 16px;
    height: auto;
    margin-right: 10px;
}

.navbar .buttons {
    margin-left: auto;
}

.navbar button {
    padding: 5px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 14px;
}


.navbar button:hover {
    color: #f3d4ff7a;
    transform: scale(-10px);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent; 
}

::-webkit-scrollbar-thumb {
    background: #787878; 
}

::-webkit-scrollbar-thumb:hover {
    background: #787878; 
}